* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Moderate padding for size */
  background-color: #fffffc; /* Updated navbar color */
  border-bottom: 1px solid #20201e;
  width: 100%; /* Full width */
  height: 50px; /* Adjust height */
  margin: 0; /* Remove any margin */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px; /* Space between left items */
}

.navbar-logo h1 {
  color: #20201e;
  font-size: 32px; /* Reasonable logo text size */
}

.navbar-right {
  display: flex;
  gap: 20px; /* Space between buttons */
}

.navbar-button {
  font-size: 18px; /* Moderate button font size */
  color: #20201e;
  background-color: #fffffc;
  border: none;
  cursor: pointer;
}

.navbar-button:hover {
  font-size: 19px;
  color: #1CAC78;
  transition: 0.2s ease;
}
